body {
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 8px rgba(4, 191, 238, 0.397);
  /* min-height: 100vh; */
  width: 0 auto;
  height: 1080px;
  background: linear-gradient(135deg, #00eeff, #02d2f7), 
              url('https://static.vecteezy.com/system/resources/previews/002/395/537/large_2x/abstract-blue-and-white-geometric-background-free-vector.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  animation: bgAnim 2s infinite alternate;
}

@keyframes bgAnim {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

h1 {
    animation: glow 2s infinite alternate;
}

  @keyframes glow {
  from { text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.5); }
  to { text-shadow: 4px 4px 15px rgb(105, 220, 255); }
}

 

  .hour {
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
  border: 10px solid transparent;
  background-clip: padding-box;
  
}

.hour:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(12, 240, 240, 0.185);
  border: 6px solid;
  border-image: linear-gradient(45deg, rgb(221, 235, 23), rgb(61, 219, 55), rgb(5, 199, 233), rgba(28, 215, 240, 0.719), rgb(46, 236, 21), rgb(11, 239, 247), rgb(21, 225, 240)) 1;
  border-radius:15px;
  color: rgb(2, 39, 250);
  text-shadow: 0px 0px 10px #07e7f78c;
}

